.titles {
    display: grid;
    justify-content: center;
    margin-right: auto;
    border: 3px solid;
    width: 100%;
    background: #6a8e7f;
}

.text-box {
    width: 100%;
    margin: auto;
    max-width: 500px;
    border: 3px solid;
    background: #6a8e7f;
    border-radius: 10px;
}

.form-control {
    padding-left: 10%;
    width: 100%;
}

.tos-button {
    height: 5%;
    width: 30%;
    display: grid;
    align-items: center;
    border-radius: 6px;
    background: #631234;
    color: #f7f7ff;
    font-weight: bold;
}
