#comment-form {
    display: grid;
    grid-template-columns: 1fr 100px;
    align-items: end;
    padding: 0px 10px 0px 10px;
}

#comment-form button {
    height: 35px;
}

h1 {
    margin: 0;
}
/* comment styling */

.user-name {
    font-weight: bold;
}

.user-avatar {
    height: 65px;
    width: 65px;
    border-radius: 50%;
}

.timestamp {
    font-size: 0.8em;
}

.user-info {
    display: grid;
    border: 1px solid #c1c1c1;
    background: #7e4e60;
    border-radius: 30px 0px 0px 30px;
    padding: 5px;
    align-content: center;
    justify-items: center;
    grid-column: span;
}

.comment-content {
    display: grid;
    background: #c1c1c1;
    justify-content: start;
    align-content: center;
    border: 1px solid #7e4e60;
    border-radius: 0px 30px 30px 0px;
    padding: 10px;
    color: rgb(36, 36, 36);
}

.comment {
    display: grid;
    width: 100%;
    grid-template-columns: 200px 1fr;
    margin: 10px;
}

/* question styling */

#question-title {
    font-size: 2em;
    padding-left: 20px;
    font-weight: bold;
    color: black;
}

#question-category {
    color: black;
}

.question-summary {
    display: grid;
    grid-template-rows: 2em 1em minmax(25px, 100px) 1fr 200px;
    padding: 20px;
    width: fit-content;
    background: #c1c1c1;
    border-radius: 30px;
    gap: 20px;
}

#question-content {
    color: black;
    height: fit-content;
}

#question-code-snippet {
    display: grid;
    background: black;
    font-family: monospace !important;
    width: fit-content;
    height: fit-content;
    justify-content: center;
    padding: 10px;
    border-radius: 5px;
}

#question-screenshot {
    display: grid;
    background: lightseagreen;
    height: 200px;
    border-radius: 5px;
    padding: 10px;
}
