@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.nav {
    display: block;
    border-radius: 20px 0px 0px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(215%, 8%);
    color: #fff;
    background: #510a32;
    height: 495px;
    padding: 0px 0px 0px 20px;
    width: 300px;
    border-right: 5px solid #c72c41;
    box-shadow: 10px 10px 20px #00000066;
    overflow: hidden;
    transition: 200ms ease-in-out;
}
.nav.navcollapse {
    width: 75px;
}
/*.nav.navcollapse .nav-item .nav-item-title {
    transition: 200ms ease-in-out;
    opacity: 0;
}
.nav-item {
    display: flex;
    padding: 20px 0px 20px 20px;
    border-radius: 20px 0px 0px 20px;
    font-size: 20px;
    white-space: nowrap;
}
.nav-item.nav-itemC {
    cursor: pointer;
}
.nav-item i {
    padding-right: 40px;
}
.nav-item.nav-toggle {
    cursor: pointer;
    width: 50px;
    height: 50px;
    position: absolute;
    bottom: 10px;
    right: 20px;
    padding: 0px;
    text-align: center;
    line-height: 50px;
    border-radius: 500px;
    background: #801336;
    transition: 200ms ease-in-out;
}
.nav-item.nav-toggle i {
    padding-right: 0px;
    margin: auto;
}
.nav-item.nav-toggle.toggleIcon {
    transform: rotateZ(-180deg);
}
.nav-item.nav-active {
    background: #c72c41;
    position: relative;
}
.nav-item.nav-active::after,
.nav-item.nav-active::before {
    content: '';
    position: absolute;
    height: 30px;
    width: 30px;
    right: 0px;
    border-radius: 30px;
    background: #510a32;
}
.nav-item.nav-active::after {
    top: -30px;
    box-shadow: 15px 15px 0 #c72c41;
}
.nav-item.nav-active::before {
    bottom: -30px;
    box-shadow: 15px -15px 0 #c72c41;
} /*
